# Ignore Python bytecode
*.pyc
*.pyo
__pycache__/
*.pyd

# Ignore virtual environments
*venv/

# Ignore temp directories
temp*/

# Ignore IDE/editor files
.idea/

# Ignore other file types
*.pdf
*.png
*.jpg
*.json
*.pth